*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
  
}
p{font-size: 20px;
    line-height: 30px;
    color: #6c757d;
}
nav.ss ul li a{
    color:white;
    transition: 1s all;
}
.navbar-brand{
    color:white;
    transition: 1s all;
}
 nav.ss.stickyadd{
    background-color:white;
    
    font-size: 23px;
    transition: 1s all;

}
nav.stickyadd .navbar-brand {
   color:black; 
   font-size: 23px;
   transition: 1s all ease-in;
}
nav.stickyadd .nav-link{
    color:black; 
    font-size: 23px;
    transition: 1s all ease-in;
 }
 nav.stickyadd .navbar-toggler i{
    font-size: 28px;
    color: antiquewhite;
    transition: 1s all ease-in;
} 
.elementt{
    color: red;
}
/* header */
header{
    width:100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) ,url( ../img/Working-women.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header_contant{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contant-box{
    max-width: 700px;
    color: white;
}
.contant-box h4{
    font-size: 30px;
}
.contant-box  h1{
    font-size: 52px;
}
.contant-box a{
    color: white;
    padding: 5px 25px;
    border: 2px white solid;
    border-radius: 20px;
}
.contant-box a:hover{
    color: black;
    background-color: white;
    transition: 1s all;
}
.contant-box p{
    color: white;
}
/* /////////about////// */
.about ul li i{
 
    font-size: 40px;
    margin-right: 10px;
    color: #9cb7cf;
    transition: 1s all;
}
.about ul li i:hover{
    font-size: 50px;
color: #000000;
transition: 1s all;

}
/* //////ptog//// */
.prog h1{
 color:rgb(231, 97, 97);
}
.progress{
    height: 10px;
}
.prog h1{
    animation-name:shakeX;
    animation-duration: 5s;
}
/* card */
.car{
    background-color: #f5f4f4;
}
.card{
    height: 350px;
}
.card i{
    font-size: 30px;
}
/* end */
.end button{
    color: white;
    padding: 5px 25px;
    border: 2px white solid;
    border-radius: 20px;
}